* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
}


/* Header section */
header {
    position: fixed;
    width: 100vw;
    height: 4em;
    align-content: center;
    background-color: #1F2937;
    box-shadow: #738094 0px 1px 7px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.65em;
}

form > input[type="color"] {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: none;
    width: 3em;
    height: 2.5em;
    border: 0;
    border-style: none;
    padding: 0;
    cursor: pointer;
}

form > select,
form > input[type="submit"] {
    height: 2em;
    color: whitesmoke;
    border-radius: 4px;
    background-color: #1F2937;
}

form > select {
    width: 12em;
}

form > input[type="submit"] {
    text-align: center;
    background-color: #3D4B60;
    border: none;
    padding-left: 1em;
    padding-right: 1em;
    cursor: pointer;
}

form > input[type="submit"]:hover,
form > input[type="submit"]:focus {
    background-color: #738094;
}



/* Colors section */
section {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}



/* Footer section */
footer {
    width: 100vw;
    height: 4em;
    position: fixed;
    bottom: 0;
    background-color: #1F2937;
    
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
}

footer > p {
    color: whitesmoke;
    cursor: pointer;
}

footer > p:hover {
    color: #fff;
    text-decoration: underline;
}



/* Media queries */
@media (min-width: 600px) {
    footer {
        justify-content: center;
        gap: 50px
    }
}

@media (max-width: 385px) {
    header {
        height: 10em;
    }
    
    form {
        flex-direction: column;
    }
    
    footer > p {
        font-size: 0.75rem;
    }
}